@use "variables";
@use "mixin";

// ------------------------------------------------------------------------------------------------------------------------
// basic style
// ------------------------------------------------------------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    width: 100%;
    font-family: variables.$font-stack;
}

h1,
h2 {
    width: 80%;
    padding: 4px 0;
    margin: auto;
}

h2 {
    @include mixin.mq(tablet) {
        font-size: 32px;
    }
}

p {
    width: 80%;
    padding: 4px 0;
    margin: auto;
    text-align: left;
}

section {
    padding: 16px 0;
}

.divider {
    @include mixin.divider;
}

// ------------------------------------------------------------------------------------------------------------------------
// header section
// ------------------------------------------------------------------------------------------------------------------------
header {
    @include mixin.flexContainer(column, center, center);
    @include mixin.colorContrast;

    // responsive
    @include mixin.mq(tablet) {
        @include mixin.flexContainer(row, space-between, center);
        padding: 0 16px;
    }

    .logo:hover {
        color: #7DB9DE;
    }

    .logo {
        padding: 8px;
        font-size: 20px;
        font-weight: bold;
    }

    ul {
        list-style: none;

        // responsive
        @include mixin.mq(tablet) {
            @include mixin.flexContainer(row, space-between, center);

        }

        li {
            width: fit-content;
            margin: auto;
            padding: 8px 0;

            // responsive
            @include mixin.mq(tablet) {
                padding: 8px;
            }

            a {
                @include mixin.aTagDecorate(none, #FFFFFB);
            }

            a:hover {
                color: #7DB9DE;
            }
        }
    }
}

// ------------------------------------------------------------------------------------------------------------------------
// footer section
// ------------------------------------------------------------------------------------------------------------------------
footer {
    @include mixin.flexContainer(column, space-between, center);
    @include mixin.colorContrast(#FFFFFB, #080808);
    padding: 16px 0;

    // responsive
    @include mixin.mq(tablet) {
        @include mixin.gridContainer(none, 2fr 3fr, none);
        height: 40vh;
    }

    .contacts {

        @include mixin.mq(tablet) {
            grid-column: 1 / 2;
        }

        .icons {
            font-size: x-large;

            // responsive
            @include mixin.mq(tablet) {
                font-size: xx-large;
            }

            .fa-brands:hover {
                color: #005CAF;
            }
        }



        .email-item {
            padding: 4px 0;

            h4 {
                @include mixin.mq(tablet) {
                    font-size: 20px;
                }
            }

            span {
                font-size: 14px;
                color: #373C38;

                // responsive
                @include mixin.mq(tablet) {
                    font-size: 18px;
                }
            }

        }

    }

    .footer-list {
        @include mixin.flexContainer(row, space-around, center);

        // responsive
        @include mixin.mq(tablet) {
            @include mixin.gridContainer(none, repeat(2, 1fr), none);
        }

        ul {
            @include mixin.flexContainer(column, center, center);
            list-style: none;

            li {
                min-width: 250px;
                text-align: center;
                padding: 8px 0;

                a {
                    @include mixin.aTagDecorate;
                }
            }

            li:hover {
                background-color: #1C1C1C;
                a {
                    color: #FFFFFB;
                }
            }
        }

    }
}